.header__caontainer{
    color:rgb(255, 255, 255);
    background-color: rgb(15, 11, 11);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:12px;
    border: 2px solid rgb(24, 23, 23);
    position: relative;
    z-index:2;
    width: 60%;
    height:500px;
}

.desc__header{
    display: flex;
    flex-direction: column;
    p{
        margin-top: 25px;
    }
    
    
}
.icon__div{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    
    svg{
        // width: 50px;
        // height: 50px;
        font-size: 50px;
    }
    a{
        color:gray;
    }
}