.work__container{
    width: 100%;
    // height: 300px;
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
  
    position: relative;
    z-index:2;
}
.project{
    width: 30%;
   height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    margin: 20px;    
    color:black;
    border:2px solid black;
    background-color: rgba(175, 170, 170, 0.842);
   

    img{
        width: 100%;
        height: 140px
        
       
       
    }
    p{
        margin: 10px;
    }
}
.external__buttons{
    width:70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.app__work{
    width: 60%;
    border:2px solid black;
    background-color: black;
    padding:20px;
    margin:20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.app__works-title{
    text-decoration: underline;
}