.skills__container{
    width: 60%;
    border:2px solid black;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;


}
.skills__list{
    width:50%;
    ul{
      
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        font-size: larger;
        flex-wrap: wrap;

        
        li{padding:30px;
          
        }
    }

}
.list__container{
   width: 105px;
   height: 105px;
    background-color: rgb(49, 46, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}